div{
    outline: 1px solid lime;
}


.container{
    width:920px;
    margin-left: auto;
    margin-right: auto;
    

}

.header{
    background-color: aquamarine;
    height: 200px;
    width: 920px;
}

.submenu{
    width: 200px;
    height: 400px;
    background-color: coral;
    float: left;
    
}

.content{
    width: 720px;
    height: 400px;
    background-color: darkgray;
    float: right;
}