

.container{
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    background-color: blue;
    height: 40px;
    padding: 10px;
}

.logo{
    background-color: yellow;
    width: 250px;
    height: 40px;
    float: left;
    outline: solid black;
}

.tabs{
    background-color: yellow;
    width: 630px;
    height: 40px;
    float: right;
    margin-left: 10px;
    outline: solid black;
   
}

.jumbotron{
    background-color: greenyellow;
    height: 400px;
}

.contents{
    background-color: red;
    height: 300px;
    padding: 10px;
}

.contentheader{
    background-color: yellow;
    height: 80px;
    width: 900px;
    outline: solid black;
    margin-bottom: 10px;
 
}

.contentimages{
    background-color: yellow;
    width: 280px;
    height: 200px;
    margin: 10px;
    float: left;
    outline: solid black;
    
}

.gallery{
    background-color: blue;
    height: 750px;
    padding: 10px;
    
}

.galleryheader{
    background-color: yellow;
    height: 80px;
    width: 900px;
    margin-bottom: 10px;
    outline: solid black;
}

.galleryimages{
    background-color: yellow;
    height: 200px;
    width: 205px;
    float: left;
    margin: 10px;
    outline: solid black;
}

.article{
    background-color: greenyellow;
    height: 520px;
    padding: 10px;
    
}

.articleheader{
    background-color: yellow;
    height: 80px;
    width: 900px;
    outline: solid black;
    margin-bottom: 10px;
}

.articleimages{
    background-color: yellow;
    width: 280px;
    height: 400px;
    margin: 10px;
    float: left;
    outline: solid black;
    
}


.contact{
    background-color: red;
    height: 500px;
    padding: 10px;
}

.contactheader{
    background-color: yellow;
    height: 80px;
    width: 900px;
    margin-bottom: 20px;
    outline: solid black;
}

.contactimage{
    background-color: yellow;
    height: 250px;
    width: 275px;
    float: right;
    outline: solid black;
}
.contactform{
    background-color: yellow;
    width: 600px;
    height: 400px;

    outline: solid black;
}

.footer{
    background-color: blue;
    height: 100px
}
